@tailwind base;
@tailwind components;
@tailwind utilities;



.custom-list ul {
    list-style-type: disc;
    padding-left: 3em;

}

.custom-list ol {
    list-style-type: decimal;
    padding-left: 3em;

}

.custom-list li {
    margin-bottom: 0.5em;
}

blockquote {
    border-left: 4px solid #333;
    padding-left: 1em;
    margin: 1em 0;
    color: #555;
    font-style: italic;
}

code {
    background-color: #f5f5f5;
    padding: 0.2em 0.4em;
    border-radius: 4px;
    color: #d63384;
}

pre {
    background-color: #f5f5f5;
    padding: 1em;
    border-radius: 4px;
    overflow-x: auto;
    color: #d63384;
}

.ql-indent-1 {
    padding-left: 2em;
}

.ql-indent-2 {
    padding-left: 2.5em;
}

.ql-indent-3 {
    padding-left: 3em;
}

.ql-indent-4 {
    padding-left: 3.5em;
}

.custom-paragraph p {
    text-indent: 2em;
}

/* index.css */
@keyframes grow {
    from {
        font-size: 1rem;
    }

    to {
        font-size: 2rem;
    }
}

@keyframes shrink {
    from {
        font-size: 2rem;
    }

    to {
        font-size: 1rem;
    }
}

.animate-grow {
    animation: grow 2s ease-in-out;
}

.animate-shrink {
    animation: shrink 1s ease-in-out;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.font-inherit {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  